{{define "navbar"}}
<nav class="flex items-center justify-between flex-wrap bg-white p-4 mb-4 border-b border-[#0F570D]">
    <div class="flex items-center flex-shrink-0 text-[#0F570D] mr-6">
      <span class="font-semibold text-xl tracking-tight">
        <a href="/servers">
          Mock TPP
        </a>
      </span>
    </div>
    <div>
      <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-[#0F570D] border-[#0F570D] hover:border-transparent hover:text-gray-100 hover:bg-[#0F570D] mt-4 lg:mt-0">Log Out</a>
    </div>
</nav>
{{end}}
